<div class="container mt-5">
  <div class="section mb-5">
    <h2 class="text-center">ようこそ！「クラシックスペース」へ！</h2>
    <h5 class="text-center">
      このサイトは、アマチュア音楽家のための、練習会場探しに役立つ情報を掲載・閲覧できるサイトです。<br>
      公式サイトに載っていない情報を入手し、ミスマッチの多い練習場探しに役立てればと思います！
    </h5>
  </div>
  
  <div class="section text-center mb-5">
    <h2>【登録ユーザーができること】</h2>
    <ul class="list-unstyled">
      <li>投稿内容の閲覧・新規登録・削除</li>
      <li>グループの閲覧・作成・加入</li>
      <li>Myページの閲覧・編集</li>
    </ul>
  </div>    
  
  <div class="section text-center">
    <h2>【ゲストログインでできること】</h2>
    <ul class="list-unstyled">
      <li>メールアドレスとパスワードの入力なしで、サイト内にログイン</li>
      <li>投稿内容の閲覧</li>
      <li>グループの閲覧</li>
      <li>Myページの閲覧</li>
    </ul>
  </div>
</div>
