
    <div class="container">
        <p style="line-height:0.8;">
        <h2><br>ようこそ！「クラシックスペース」へ！</br></h2>
        <h5>このサイトは、アマチュア音楽家のための、普段の練習会場探しに役立つ情報が掲載されているサイトです。
        <br>公式サイトには載っていない情報を投稿・閲覧し、練習場探しの効率性を求めていきましょう！！！</br></h5>
        </p>
        
        <p><h2>【登録ユーザーができること】</h2>
            <h5>投稿内容の閲覧・新規登録・削除</h5>
            <h5>グループの作成・加入</h5>
        </p>    
        
        <p><h2>【ゲストユーザーができること】</h2>
        <h5>投稿内容の閲覧</h5>
        </p>
    </div>